@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #343541;
}

#app {
    width: 100vw;
    height: 100vh;
    background: #343541;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 10px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding-bottom: 20px;
    scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    padding: 15px;
}

.ai {
    background: #40414f;
}

.chat {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 5px;

    background: #5436da;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ai .profile {
    background: #10a37f;
}

.profile img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.message {
    flex: 1;

    color: #dcdcdc;
    font-size: 20px;

    max-width: 100%;
    overflow-x: scroll;

    /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
    white-space: pre-wrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
    display: none;
}

form {
    width: 70%;
    max-width: 1280px;
    margin: 50px auto;
    padding: 10px;
    background: #40414f;

    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0.1px rgb(24, 23, 23);
}

textarea {
    width: 100%;

    color: #fff;
    font-size: 18px;

    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
}

form img {
    width: 30px;
    height: 30px;
}

#chat_previous {
    height: 100%;
    width: 14%;
    max-width: 14%;
    min-width: 13%;
    background-color: #202123;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
}

#Wrapper {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    right: 0;
    width: 86%;
    height: 85%;
}

.new_chat {
    width: 90%;
    height: 5%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px auto;
    color: white;
    font-weight: bold;
}

.new_chat:hover {
    background-color: rgba(90, 89, 89, 0.2);
}

.new_chat_plus {
    font-weight: bold;
    font-size: 18px;
}

#last_chat {
    color: white;
    font-weight: bold;
    text-align: center;
}

#user_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
}

.user_profile_name {
    color: white;
    font-weight: normal;
}

.user_img {
    height: 24px;
    margin: 0px 5px;
}
.user_wrapper {
    width: 95%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
}
.user_wrapper:hover {
    background-color: rgba(90, 89, 89, 0.5);
}

.fa-ellipsis {
    color: rgb(126, 124, 124);
    margin-left: 25px;
}

#user_options {
    position: absolute;
    bottom: 7%;
    left: 0;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hide {
    animation: fadeOut 0.5s ease-out;
    display: none !important;
}

.show {
    display: flex !important;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.options_wrapper {
    height: 100%;
    width: 95%;
    border-radius: 5px;
    background-color: #050509;
    display: flex;
    flex-direction: column;
}

.icon-wrapper {
    color: white;
    margin: 0 0;
    cursor: pointer;
    height: 20%;
    width: 100%;
    padding-left: 5px;
    display: flex !important;
    align-items: center;
}
.icon-wrapper:hover {
    animation: fadeInHover 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadeInHover {
    to {
        background-color: rgba(64, 65, 79, 1);
    }
}

.user_span_option {
    font-weight: normal;
    padding-left: 20px;
}
